<div class="ui container">

    <div class="ui four cards" style="margin-top: 0;">
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
        <a class="card">
            <div class="image">
                <img src="http://semantic-ui.com/images/wireframe/white-image.png">
            </div>
        </a>
    </div>

</div>
