<div class="ui container movie-list-header">
    <div class="ui clearing segment">
        <h3 class="ui left floated header">
            Results for "<b data-role="search-query"></b>"
        </h3>
    </div>
</div>
<div data-role="list-container" class="movie-list ui container four cards"></div>
