<div class="ui attached stackable menu">
    <div class="ui grid container">
        <div class="two wide column">
            <div class="header item">
                <img class="ui tiny image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Eventful_logo.png/320px-Eventful_logo.png">
            </div>
        </div>
        <div class="fourteen wide column">
            <div class="ui item search fluid">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search movies..." data-role="search">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
</div>
