<div class="ui attached stackable menu header__logo-container">
    <div class="ui grid container">
        <div class="wide column header__logo-content">
            <div class="header__logo">Movies Finder</div>
        </div>
    </div>
</div>

<div class="ui attached stackable menu header__container">
    <div class="ui grid container">
        <div class="wide column">
            <div class="ui item search fluid header__search-input">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search movies..." data-role="search">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
</div>
