<div class="ui attached stackable menu">
    <div class="ui grid container">
        <div class="four wide column">
            <img class="ui medium image" src="src/images/logo.jpg">
        </div>
        <div class="twelve wide column">
            <div class="ui item search fluid header__search-input">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search movies..." data-role="search">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
</div>
