/* App */
.header__search-input::before {
    width: 0 !important;
}

.header__search-input {
    height: 100%;
}

.list {
    margin-top: 0 !important;
}

.list__header {
    margin-top: 12px;
}

.card__content {
    flex-grow: 1;
}

.card__description {
    height: 100% !important;
}

.extra {
    display: flex;
    align-items: flex-end;
}

.extra__release-year {
    flex-grow: 1;
}

/* Utils */
.u-ws-i {
    white-space: initial;
}
