<div class="ui container movie-list-header">

    <div class="ui clearing segment">
        <h3 data-role="header" class="ui left floated header"></h3>
    </div>

    <div>
        <div class="ui grid two column centered" data-role="loading">
            <div class="column">
                <div class="ui icon message hide">
                    <i class="notched circle loading icon"></i>
                    <div class="content">
                        <div class="header">
                            Just one second
                        </div>
                        <p>We're fetching that content for you.</p>
                    </div>
                </div>
            </div>
        </div>
    <div>

    <div>
        <div class="ui grid two column centered" data-role="no-results">
            <div class="column">
                <div class="ui icon message hide">
                    <i class="warning sign icon"></i>
                    <div class="content">
                        <div class="header">
                            Whoops!
                        </div>
                        <p>Sorry! We couldn't find any results.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div data-role="results-container" class="ui container"></div>
